@use '../root';
@use '../mixin';
@use 'cards-header';
@use 'card';
@use 'gulir';

.cards {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin:auto;
    padding-bottom: 25px;
    box-sizing: border-box;
    position: relative;
    @include cards-header.cards-header();
    @include card.card();
    @include gulir.gulir();
}