@use '../font';
@use '../mixin';
@use 'about-row';
@use 'about-main';

.about{
    width: 90%;
    height: 70vh;
    // margin-top: 80px;
    margin:70px auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 13px 13px 13px rgba(71, 70, 70, 0.2);


    @include about-row.row();
    @include about-main.about();
}