::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
}

@font-face {
  font-family: "AlfaSlabOne-Regular";
  src: url("../fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
.landing-page {
  width: 100%;
  height: 100vh;
  background-image: url("../images/landing-page/background.png");
  background-position: center;
  background-size: cover;
}
.landing-page .navbar {
  width: 100%;
}
.landing-page .navbar .logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  height: 80px;
  align-items: flex-end;
}
.landing-page .navbar .logo .logo-brand img {
  height: 43px;
}
.landing-page .navbar .logo .logo-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.landing-page .navbar .logo .logo-delivery img {
  padding-right: 10px;
  box-sizing: border-box;
}
.landing-page .navbar .logo .logo-delivery span {
  color: #3d2514;
  font-size: 0.9em;
  font-weight: bold;
}
.landing-page .navbar .list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}
.landing-page .navbar .list .list-items {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  list-style: none;
}
.landing-page .navbar .list .list-items li a {
  text-decoration: none;
  color: #3d2514;
  font-weight: bold;
  font-size: 0.9em;
}
.landing-page .header {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .header .header-section-firts {
  padding-left: 45px;
  box-sizing: border-box;
}
.landing-page .header .header-section-firts .header-text {
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
  border: 2px dashed #333;
}
.landing-page .header .header-section-firts .header-text p {
  font-family: "BebasNeue-Regular";
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}
.landing-page .header .header-section-firts .big-text .first, .landing-page .header .header-section-firts .big-text .second {
  font-family: "AlfaSlabOne-Regular";
  font-size: 5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  color: #3d2514;
}
.landing-page .header .header-section-firts .big-text .second {
  font-size: 3.5em;
}
.landing-page .header .header-section-second {
  box-sizing: border-box;
  padding-top: 50px;
}
.landing-page .header .header-section-second img {
  max-height: 420px;
}

.media {
  height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.media .media-image .text, .media .media-images .text {
  font-family: "BebasNeue-Regular";
  margin: 30px;
  color: white;
}
.media .media-image .text p, .media .media-images .text p {
  font-size: 1.5em;
}
.media .media-image .text h1, .media .media-images .text h1 {
  letter-spacing: 2px;
  font-size: 2.3em;
}
.media .media-image {
  height: 75%;
  width: 45%;
  background-image: url("../images/media/Burger-Image1.png");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.media .media-images {
  width: 48%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.media .media-images .media-images-first, .media .media-images .media-images-second {
  width: 100%;
  height: 47%;
}
.media .media-images .media-images-first {
  background-image: url("../images/media/burger-Image2.png");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.media .media-images .media-images-first h1 {
  display: flex;
  flex-direction: column;
}
.media .media-images .media-images-first h1 .two {
  display: inline-block;
  margin-top: -10px;
}
.media .media-images .media-images-second {
  background-image: url("../images/media/burger-Image3.png");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.cards {
  width: 100%;
  height: 110vh;
  margin: auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.cards .cards-header {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #3d2514;
}
.cards .cards-header .first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 250px;
  height: 50px;
  background-color: #ffc234;
  font-family: "BebasNeue-Regular";
  font-size: 1.5em;
}
.cards .cards-header .header {
  font-family: "AlfaSlabOne-Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3em;
  font-weight: normal;
  margin: 30px 0 20px 0;
}
.cards .cards-header .text-header {
  font-size: 0.9em;
}
.cards .card {
  width: 90%;
  height: 75vh;
  display: flex;
  margin: 50px auto 100px auto;
  justify-content: space-evenly;
  color: #3d2514;
}
.cards .card .row {
  width: 30%;
}
.cards .card .row .row-header {
  width: 100%;
  margin: auto;
  text-align: center;
}
.cards .card .row .row-header img {
  width: 100%;
  padding-top: 15px;
  box-sizing: border-box;
}
.cards .card .row .row-header .Burger2 {
  width: 75%;
}
.cards .card .row .row-description {
  width: 100%;
  text-align: center;
  margin: auto;
}
.cards .card .row .row-description h1 {
  font-family: "BebasNeue-Regular";
  letter-spacing: 2px;
  font-weight: normal;
  margin: 20px 0;
}
.cards .card .row .row-description p {
  font-size: 0.9em;
  margin-bottom: 20px;
}
.cards .card .row .row-button {
  width: 100%;
  margin: auto;
  text-align: center;
}
.cards .card .row .row-button button {
  font-family: "AlfaSlabOne-Regular";
  font-weight: normal;
  text-transform: uppercase;
  width: 190px;
  height: 40px;
  color: #fff;
  background-color: #df1b1c;
  outline: none;
  border: none;
  letter-spacing: 1px;
}
.cards .card .row:hover {
  cursor: pointer;
  filter: brightness(0.9);
  background-color: #ffffff;
  transition: 0.2s;
  border-radius: 10px;
}

.about {
  width: 90%;
  height: 70vh;
  margin: 70px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 13px 13px 13px rgba(71, 70, 70, 0.2);
}
.about .row {
  width: 2%;
}
.about .about-main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-main .about-text {
  width: 44%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .about-main .about-text .text-header {
  height: 35%;
  color: #3d2514;
}
.about .about-main .about-text .text-header p {
  font-family: "BebasNeue-Regular";
  font-size: 1.8em;
  letter-spacing: 1px;
}
.about .about-main .about-text .text-header h1 {
  font-family: "AlfaSlabOne-Regular";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.3em;
  letter-spacing: 1px;
}
.about .about-main .about-text .text-main {
  height: 65%;
}
.about .about-main .about-text .text-main p {
  font-family: "Montserrat-Regular";
  line-height: 1.8em;
}
.about .about-main .about-text .text-bullet {
  height: 5%;
}
.about .about-main .about-text .text-bullet .bullet {
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.about .about-main .about-text .text-bullet .one {
  background-color: #ff9100;
}
.about .about-main .about-images {
  height: 100%;
  width: 50%;
}
.about .about-main .about-images img {
  width: 100%;
}

.place {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
.place .tables {
  width: 100%;
  position: relative;
}
.place .tables .tables-header {
  text-align: center;
  margin: 50px auto;
  color: #3d2514;
}
.place .tables .tables-header h1 {
  font-family: "AlfaSlabOne-Regular";
  font-weight: normal;
  font-size: 2.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}
.place .tables .tables-header p {
  padding-top: 20px;
  box-sizing: border-box;
  font-family: "BebasNeue-Regular";
  font-size: 1.5em;
  letter-spacing: 1.2px;
}
.place .tables .tables-main {
  position: relative;
  width: 95%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.place .tables .tables-main .botles {
  position: absolute;
  transform: translateX(125px);
  left: -70px;
}
.place .tables .tables-main .table {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.place .tables .tables-main .table .table-left, .place .tables .tables-main .table .table-right {
  width: 45%;
}
.place .tables .tables-main .table .table-left .inPlace, .place .tables .tables-main .table .table-right .inPlace {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  outline: none;
  font-family: "Montserrat-Regular";
  border: none;
  box-shadow: 0 0 3px #aaa;
  border-radius: 5px;
}
.place .tables .tables-main .table .table-left button.inPlace, .place .tables .tables-main .table .table-right button.inPlace {
  padding: 0;
  font-family: "AlfaSlabOne-Regular";
  background-color: #df1b1c;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}
.place .tables .tables-main .table .table-left button.inPlace:hover, .place .tables .tables-main .table .table-right button.inPlace:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.footer {
  height: 80vh;
  width: 90%;
  background-image: url(../images/footer/background.png);
  background-position: center;
  background-size: cover;
  margin: -30px auto 50px;
  position: relative;
}
.footer .footer-logo {
  padding: 70px 50px 40px 50px;
  box-sizing: border-box;
  width: 100%;
}
.footer .footer-logo img {
  width: 30%;
}
.footer .footer-main {
  color: #eee;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.footer .footer-main .footer-text {
  width: 43%;
}
.footer .footer-main .footer-text p {
  font-family: "Montserrat-Regular";
  line-height: 1.8em;
}
.footer .footer-main .information {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  box-sizing: border-box;
  font-family: "BebasNeue-Regular";
  font-size: 1.2em;
}
.footer .footer-main .information p {
  width: 100%;
  display: flex;
}
.footer .footer-main .information p i {
  width: 15%;
  font-size: 1.4em;
}
.footer .footer-icon {
  position: absolute;
  bottom: 5vh;
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #eee;
}
.footer .footer-icon .footer-copyright p {
  font-family: "BebasNeue-Regular";
}
.footer .footer-icon .icons .icon {
  background-color: #eee;
  color: #333;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
}
.footer .footer-icon .icons .icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 1.1em;
  text-align: center;
}

.licence {
  width: 100%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .landing-page {
    width: 100%;
  }
  .landing-page .navbar {
    width: 100%;
  }
  .landing-page .navbar .logo {
    height: 70px;
    padding: 0 30px;
  }
  .landing-page .navbar .logo .logo-brand img {
    height: 35px;
  }
  .landing-page .navbar .logo .logo-delivery span {
    font-size: 0.8em;
  }
  .landing-page .navbar .list {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
  }
  .landing-page .navbar .list .list-items {
    width: 40%;
  }
  .landing-page .navbar .list .list-items li a {
    text-decoration: none;
    color: #3d2514;
    font-weight: bold;
    font-size: 0.8em;
  }
  .landing-page .header .header-section-firts {
    padding-left: 30px;
  }
  .landing-page .header .header-section-firts .big-text .first, .landing-page .header .header-section-firts .big-text .second {
    font-size: 4.1em;
  }
  .landing-page .header .header-section-firts .big-text .second {
    margin-top: -5px;
    font-size: 3.5em;
  }
  .landing-page .header .header-section-second {
    box-sizing: border-box;
    padding-top: 20px;
  }
  .landing-page .header .header-section-second img {
    max-height: 300px;
  }

  .cards {
    width: 100%;
  }
  .cards .cards-header .first {
    width: 240px;
    height: 40px;
    font-size: 1.3em;
  }
  .cards .cards-header .header {
    font-size: 2.8em;
  }
  .cards .cards-header .text-header {
    font-size: 0.8em;
  }
  .cards .card .row {
    width: 30%;
  }
  .cards .card .row .row-header {
    width: 100%;
  }
  .cards .card .row .row-header img {
    width: 100%;
  }
  .cards .card .row .row-header .Burger2 {
    width: 75%;
  }
  .cards .card .row .row-description {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .cards .card .row .row-description h1 {
    margin: 15px 0;
    font-size: 1.7em;
  }
  .cards .card .row .row-description p {
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  .cards .card .row .row-button {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .cards .card .row .row-button button {
    width: 180px;
    height: 35px;
    font-size: 0.8em;
  }

  .about {
    width: 90%;
  }
  .about .about-main {
    width: 100%;
  }
  .about .about-main .about-text .text-header {
    height: 28%;
    color: #3d2514;
  }
  .about .about-main .about-text .text-header p {
    font-size: 1.2em;
  }
  .about .about-main .about-text .text-header h1 {
    font-size: 1.5em;
  }
  .about .about-main .about-text .text-main {
    height: 65%;
  }
  .about .about-main .about-text .text-main p {
    font-family: "Montserrat-Regular";
    line-height: 1.8em;
    font-size: 0.8em;
  }
  .about .about-main .about-text .text-bullet {
    height: 7%;
  }
  .about .about-main .about-text .text-bullet .bullet {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  .about .about-main .about-text .text-bullet .one {
    background-color: #ff9100;
  }
  .about .about-main .about-images {
    height: 100%;
    width: 50%;
  }
  .about .about-main .about-images img {
    width: 100%;
    height: 90%;
  }

  .footer {
    width: 95%;
  }
  .footer .footer-logo {
    padding: 50px 50px 40px 50px;
  }
  .footer .footer-logo img {
    width: 25%;
  }
  .footer .footer-main .footer-text {
    width: 45%;
  }
  .footer .footer-main .footer-text p {
    font-size: 0.9em;
    font-family: "Montserrat-Regular";
    line-height: 1.7em;
  }
  .footer .footer-main .information {
    width: 43%;
    padding-left: 30px;
    font-size: 1.1em;
  }
  .footer .footer-main .information p {
    width: 100%;
    display: flex;
  }
  .footer .footer-main .information p i {
    width: 15%;
    font-size: 1.3em;
  }
  .footer .footer-icon .footer-copyright p {
    font-family: "BebasNeue-Regular";
    font-size: 0.8em;
  }
  .footer .footer-icon .icons .icon i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-size: 1em;
    text-align: center;
  }

  .licence .main-licence a {
    font-size: 1em;
  }
}
@media only screen and (max-width: 767px) and (min-width: 618px) {
  .landing-page {
    width: 100%;
    height: auto;
  }
  .landing-page .navbar {
    width: 100%;
  }
  .landing-page .navbar .logo {
    height: 70px;
    padding: 0 30px;
  }
  .landing-page .navbar .logo .logo-brand img {
    height: 35px;
  }
  .landing-page .navbar .logo .logo-delivery img {
    width: 50px;
  }
  .landing-page .navbar .logo .logo-delivery span {
    font-size: 0.8em;
  }
  .landing-page .navbar .list {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: center;
    margin-bottom: 10px;
  }
  .landing-page .navbar .list .list-items {
    width: 70%;
  }
  .landing-page .navbar .list .list-items li a {
    text-decoration: none;
    color: #3d2514;
    font-weight: bold;
    font-size: 0.8em;
  }
  .landing-page .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .landing-page .header .header-section-firts {
    width: 100%;
    padding-left: 0;
  }
  .landing-page .header .header-section-firts .header-text {
    margin: 10px auto;
  }
  .landing-page .header .header-section-firts .header-text p {
    font-size: 0.8em;
  }
  .landing-page .header .header-section-firts .big-text {
    margin: auto;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
  }
  .landing-page .header .header-section-firts .big-text .first, .landing-page .header .header-section-firts .big-text .second {
    font-size: 3em;
  }
  .landing-page .header .header-section-second {
    box-sizing: border-box;
    padding-top: 20px;
  }
  .landing-page .header .header-section-second img {
    max-height: 300px;
  }

  .cards {
    width: 100%;
  }
  .cards .cards-header .first {
    width: 230px;
    height: 35px;
    font-size: 1em;
  }
  .cards .cards-header .header {
    font-size: 2.3em;
  }
  .cards .cards-header .text-header {
    font-size: 0.8em;
  }
  .cards .card {
    margin-bottom: 50px;
    height: auto;
  }
  .cards .card .row {
    width: 30%;
  }
  .cards .card .row .row-header {
    width: 100%;
  }
  .cards .card .row .row-header img {
    width: 100%;
  }
  .cards .card .row .row-header .Burger2 {
    width: 74%;
  }
  .cards .card .row .row-description {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .cards .card .row .row-description h1 {
    margin: 15px 0;
    font-size: 1.3em;
  }
  .cards .card .row .row-description p {
    font-size: 0.7em;
    margin-bottom: 20px;
  }
  .cards .card .row .row-button {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .cards .card .row .row-button button {
    width: 170px;
    height: 35px;
    font-size: 0.7em;
  }

  .about {
    width: 90%;
    height: auto;
  }
  .about .about-main {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .about .about-main .about-text {
    width: 90%;
    margin-bottom: 20px;
  }
  .about .about-main .about-text .text-header {
    height: 28%;
    color: #3d2514;
  }
  .about .about-main .about-text .text-header p {
    font-size: 1.2em;
  }
  .about .about-main .about-text .text-header h1 {
    font-size: 1.5em;
  }
  .about .about-main .about-text .text-main {
    height: 65%;
  }
  .about .about-main .about-text .text-main p {
    font-family: "Montserrat-Regular";
    line-height: 1.8em;
    font-size: 0.8em;
  }
  .about .about-main .about-text .text-bullet {
    position: absolute;
    bottom: 5%;
    height: 7%;
    left: 7%;
  }
  .about .about-main .about-text .text-bullet .bullet {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  .about .about-main .about-text .text-bullet .one {
    background-color: #ff9100;
  }
  .about .about-main .about-images {
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .about .about-main .about-images img {
    width: 100%;
  }

  .footer {
    margin-top: 20px;
    width: 95%;
  }
  .footer .footer-logo {
    padding: 50px 50px 40px 50px;
  }
  .footer .footer-logo img {
    width: 30%;
  }
  .footer .footer-main .footer-text {
    width: 45%;
  }
  .footer .footer-main .footer-text p {
    font-size: 0.8em;
    font-family: "Montserrat-Regular";
    line-height: 1.7em;
  }
  .footer .footer-main .information {
    width: 45%;
    padding-left: 30px;
    font-size: 0.9em;
  }
  .footer .footer-main .information p {
    width: 100%;
    display: flex;
  }
  .footer .footer-main .information p i {
    width: 15%;
    font-size: 1.2em;
  }
  .footer .footer-icon .footer-copyright p {
    font-family: "BebasNeue-Regular";
    font-size: 0.8em;
  }
  .footer .footer-icon .footer-copyright p i {
    margin-right: 5px;
  }
  .footer .footer-icon .icons .icon i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-size: 1em;
    text-align: center;
  }

  .licence .main-licence a {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 619px) and (min-width: 425px) {
  .landing-page {
    width: 100%;
    height: auto;
  }
  .landing-page .navbar {
    width: 100%;
  }
  .landing-page .navbar .logo {
    height: 70px;
    padding: 0 30px;
  }
  .landing-page .navbar .logo .logo-brand img {
    height: 35px;
  }
  .landing-page .navbar .logo .logo-delivery {
    display: none;
  }
  .landing-page .navbar .list {
    width: 100%;
    height: 40px;
  }
  .landing-page .navbar .list .list-items {
    width: 90%;
  }
  .landing-page .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .landing-page .header .header-section-firts {
    width: 100%;
    padding-left: 0;
  }
  .landing-page .header .header-section-firts .header-text {
    margin: 10px auto;
  }
  .landing-page .header .header-section-firts .header-text p {
    font-size: 0.8em;
  }
  .landing-page .header .header-section-firts .big-text {
    margin: auto;
    display: flex;
    width: 70%;
    justify-content: center;
  }
  .landing-page .header .header-section-firts .big-text .first, .landing-page .header .header-section-firts .big-text .second {
    font-size: 2em;
    margin: 0 5px;
  }
  .landing-page .header .header-section-second {
    box-sizing: border-box;
    padding-top: 20px;
  }
  .landing-page .header .header-section-second img {
    max-height: 300px;
  }

  .cards {
    width: 100%;
  }
  .cards .cards-header .first {
    width: 200px;
    height: 30px;
    font-size: 1em;
  }
  .cards .cards-header .header {
    font-size: 1.8em;
  }
  .cards .cards-header .text-header {
    font-size: 0.8em;
  }
  .cards .card {
    height: auto;
  }
  .cards .card .row1, .cards .card .row2 {
    display: none;
  }
  .cards .card .row {
    width: 90%;
  }
  .cards .card .row .row-header {
    width: 100%;
  }
  .cards .card .row .row-header img {
    width: 100%;
  }
  .cards .card .row .row-header .Burger2 {
    width: 74%;
  }
  .cards .card .row .row-description {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .cards .card .row .row-description h1 {
    margin: 15px 0;
    font-size: 1.3em;
  }
  .cards .card .row .row-description p {
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  .cards .card .row .row-button {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .cards .card .row .row-button button {
    width: 170px;
    height: 35px;
    font-size: 0.7em;
  }

  .about {
    width: 90%;
    height: auto;
    margin: 150px auto;
  }
  .about .about-main {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .about .about-main .about-text {
    width: 90%;
    margin-bottom: 20px;
  }
  .about .about-main .about-text .text-header {
    height: 28%;
    color: #3d2514;
  }
  .about .about-main .about-text .text-header p {
    font-size: 1em;
  }
  .about .about-main .about-text .text-header h1 {
    font-size: 1.3em;
  }
  .about .about-main .about-text .text-main {
    height: 65%;
  }
  .about .about-main .about-text .text-main p {
    font-family: "Montserrat-Regular";
    line-height: 1.8em;
    font-size: 0.7em;
  }
  .about .about-main .about-text .text-bullet {
    position: absolute;
    bottom: 8%;
    height: 7%;
    left: 7%;
  }
  .about .about-main .about-text .text-bullet .bullet {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  .about .about-main .about-text .text-bullet .one {
    background-color: #ff9100;
  }
  .about .about-main .about-images {
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .about .about-main .about-images img {
    width: 100%;
  }

  .footer {
    margin: 0 auto;
    width: 95%;
    height: 95vh;
  }
  .footer .footer-logo {
    padding: 50px 50px 40px 50px;
  }
  .footer .footer-logo img {
    width: 50%;
  }
  .footer .footer-main {
    flex-direction: column;
  }
  .footer .footer-main .footer-text {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer .footer-main .footer-text p {
    font-size: 0.8em;
    font-family: "Montserrat-Regular";
    line-height: 1.7em;
  }
  .footer .footer-main .information {
    width: 100%;
    padding-left: 0;
    font-size: 0.9em;
  }
  .footer .footer-main .information p {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
  }
  .footer .footer-main .information p i {
    width: 10%;
    font-size: 1.2em;
  }
  .footer .footer-icon {
    bottom: 8vh;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-icon .footer-copyright {
    order: 2;
  }
  .footer .footer-icon .footer-copyright p {
    font-family: "BebasNeue-Regular";
    font-size: 0.8em;
  }
  .footer .footer-icon .footer-copyright p i {
    margin-right: 5px;
  }
  .footer .footer-icon .icons {
    margin-bottom: 15px;
    order: 1;
  }
  .footer .footer-icon .icons .icon i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-size: 1em;
    text-align: center;
  }

  .licence .main-licence a {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 425px) {
  .landing-page {
    width: 100%;
    height: auto;
  }
  .landing-page .navbar {
    width: 100%;
  }
  .landing-page .navbar .logo {
    height: 60px;
    padding: 0 30px;
  }
  .landing-page .navbar .logo .logo-brand img {
    height: 27px;
  }
  .landing-page .navbar .logo .logo-delivery {
    display: none;
  }
  .landing-page .navbar .list {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
  .landing-page .navbar .list .list-items {
    width: 100%;
  }
  .landing-page .navbar .list .list-items li a {
    font-size: 0.7em;
  }
  .landing-page .header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .landing-page .header .header-section-firts {
    width: 100%;
    padding-left: 0;
  }
  .landing-page .header .header-section-firts .header-text {
    margin: 10px auto;
    width: 200px;
  }
  .landing-page .header .header-section-firts .header-text p {
    font-size: 0.7em;
  }
  .landing-page .header .header-section-firts .big-text {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: center;
  }
  .landing-page .header .header-section-firts .big-text .first, .landing-page .header .header-section-firts .big-text .second {
    font-size: 1.5em;
    margin: 0 5px;
  }
  .landing-page .header .header-section-second {
    box-sizing: border-box;
    padding-top: 20px;
  }
  .landing-page .header .header-section-second img {
    max-height: 230px;
  }

  .cards {
    width: 100%;
  }
  .cards .cards-header .first {
    width: 200px;
    height: 30px;
    font-size: 1em;
  }
  .cards .cards-header .header {
    font-size: 1.5em;
  }
  .cards .cards-header .text-header {
    font-size: 0.8em;
  }
  .cards .card .row1, .cards .card .row2 {
    display: none;
  }
  .cards .card .row {
    width: 90%;
  }
  .cards .card .row .row-header {
    width: 100%;
  }
  .cards .card .row .row-header img {
    width: 100%;
  }
  .cards .card .row .row-header .Burger2 {
    width: 74%;
  }
  .cards .card .row .row-description {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .cards .card .row .row-description h1 {
    margin: 15px 0;
    font-size: 1.3em;
  }
  .cards .card .row .row-description p {
    font-size: 0.8em;
    margin-bottom: 20px;
  }
  .cards .card .row .row-button {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .cards .card .row .row-button button {
    width: 170px;
    height: 35px;
    font-size: 0.6em;
  }

  .about {
    width: 90%;
    height: auto;
    margin: 150px auto;
  }
  .about .about-main {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .about .about-main .about-text {
    width: 90%;
    margin-bottom: 20px;
  }
  .about .about-main .about-text .text-header {
    height: 28%;
    color: #3d2514;
  }
  .about .about-main .about-text .text-header p {
    font-size: 1em;
  }
  .about .about-main .about-text .text-header h1 {
    font-size: 1.1em;
  }
  .about .about-main .about-text .text-main {
    height: 65%;
  }
  .about .about-main .about-text .text-main p {
    font-family: "Montserrat-Regular";
    line-height: 1.8em;
    font-size: 0.7em;
  }
  .about .about-main .about-text .text-bullet {
    position: absolute;
    bottom: 8%;
    height: 10%;
    left: 7%;
  }
  .about .about-main .about-text .text-bullet .bullet {
    margin-top: 10px;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  .about .about-main .about-text .text-bullet .one {
    background-color: #ff9100;
  }
  .about .about-main .about-images {
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .about .about-main .about-images img {
    width: 100%;
  }

  .footer {
    margin: 0 auto;
    width: 95%;
    height: 95vh;
  }
  .footer .footer-logo {
    padding: 50px 50px 40px 50px;
  }
  .footer .footer-logo img {
    width: 50%;
  }
  .footer .footer-main {
    flex-direction: column;
  }
  .footer .footer-main .footer-text {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer .footer-main .footer-text p {
    font-size: 0.8em;
    font-family: "Montserrat-Regular";
    line-height: 1.7em;
  }
  .footer .footer-main .information {
    width: 100%;
    padding-left: 0;
    font-size: 0.9em;
  }
  .footer .footer-main .information p {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
  }
  .footer .footer-main .information p i {
    width: 10%;
    font-size: 1.2em;
  }
  .footer .footer-icon {
    bottom: 8vh;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-icon .footer-copyright {
    order: 2;
  }
  .footer .footer-icon .footer-copyright p {
    font-family: "BebasNeue-Regular";
    font-size: 0.8em;
  }
  .footer .footer-icon .footer-copyright p i {
    margin-right: 5px;
  }
  .footer .footer-icon .icons {
    margin-bottom: 15px;
    order: 1;
  }
  .footer .footer-icon .icons .icon i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    font-size: 1em;
    text-align: center;
  }

  .licence .main-licence a {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=main.css.map */
