@use '../root';
@use '../mixin';

.licence{
    overflow-x: hidden;
    width: 100%;
    height: 10vh;
    margin: auto;
    // background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-licence{
        
    }
}

@mixin lg{
    .licence{
        .main-licence{
            a {
                font-size: 1em;
            }
        }
    }
}

@mixin md{
    .licence{
        .main-licence{
            a {
                font-size: .8em;
            }
        }
    }
}

@mixin sm{
    .licence{
        .main-licence{
            a {
                font-size: .7em;
            }
        }
    }
}

@mixin m{
    .licence{
        .main-licence{
            a {
                font-size: .7em;
            }
        }
    }
}