@use 'root';

@mixin navbar {
    .navbar {
        width: 100%;
        // logo
        .logo{

            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            box-sizing: border-box;
            height: 80px;
            // margin-bottom: 10px;
            align-items: flex-end;

            // logo brand
            .logo-brand{
                img{
                    height: 43px;
                }
            }
            // end logo brand

            // logo delivery
            .logo-delivery{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img {
                    padding-right: 10px;
                    box-sizing: border-box;
                }
                span {
                    color: map-get(root.$color, 'text-color');
                    font-size: .9em;
                    font-weight: bold;
                }
            }
            // end logo delivery
        }
        // end logo

        // list
        .list {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            // list item
            .list-items{
                display: flex;
                width: 40%;
                height: 100%;
                justify-content: space-around;
                list-style: none;

                li {
                    a{
                        text-decoration: none;
                        color: map-get(root.$color, 'text-color');
                        font-weight: bold;
                        font-size: .9em;
                    }
                }
            }
            // end list item
            // hamburger button
            // end hamburger button
        }
        // end list
    }
}