@use 'landing/landing';
@use 'landing/navbar';
@use 'landing/header';
@use 'cards/cards';
@use 'cards/cards-header';
@use 'cards/card';
@use 'footer/footer';
@use 'footer/main-footer';


@media only screen and (max-width:1024px) and (min-width:769px){
      
    // landing page 
    .landing-page{
        width: 100%;
        @include navbar.lg();
        @include header.lg();
    }
    // end landing page

    // cards
    .cards{
        width: 100%;
        @include cards-header.lg();
        @include card.lg();
    }
    // end cards

    // footer
    .footer{
        width: 95%;
        @include main-footer.lg();

    }
    // end footer
}

@media only screen and (max-width:767px) and (min-width:618px){
      
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.md();
        @include header.md();
    }
    // end landing page

    // cards
    .cards{
        width: 100%;
        @include cards-header.md();
        @include card.md();
    }
    // end cards

    // footer
    .footer{
        margin-top: 20px;
        width: 95%;
        @include main-footer.md();

    }
    // end footer
}

@media only screen and (max-width:619px)and (min-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.sm();
        @include header.sm();
    }
    // end landing page

    // cards
    .cards{
        width: 100%;
        @include cards-header.sm();
        @include card.sm();
    }
    // end cards

    // footer
    .footer{
        // margin-top: 20px;
        margin: 0 auto;
        width: 95%;
        height: 95vh;
        @include main-footer.sm();

    }
    // end foote
}

@media only screen and (max-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.m();
        @include header.m();
    }
    // end landing page

    // cards
    .cards{
        width: 100%;
        @include cards-header.m();
        @include card.m();
    }
    // end cards

    // footer
    .footer{
        // margin-top: 20px;
        margin: 0 auto;
        width: 95%;
        height: 95vh;
        @include main-footer.m();

    }
    // end foote
}