@use 'landing/landing';
@use 'landing/navbar';
@use 'landing/header';
@use 'cards/cards';
@use 'cards/cards-header';
@use 'cards/card';

@media only screen and (max-width:1024px) and (min-width:769px){
    ::-webkit-scrollbar {
        display: none;
      }
      
    // landing page 
    .landing-page{
        width: 100%;
        @include navbar.lg();
        @include header.lg();
    }
    // end landing page

    // cards
    .cards{
        width: 100%;
        @include cards-header.lg();
        @include card.lg();
    }
    // end cards
}

@media only screen and (max-width:767px) and (min-width:618px){
    ::-webkit-scrollbar {
        display: none;
      }
      
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.md();
        @include header.md();
    }
    // end landing page
}

@media only screen and (max-width:619px)and (min-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.sm();
        @include header.sm();
    }
    // end landing page
}

@media only screen and (max-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.m();
        @include header.m();
    }
    // end landing page
}