@use 'landing/landing';
@use 'landing/navbar';
@use 'landing/header';
@use 'media/media';
@use 'cards/cards';
@use 'cards/cards-header';
@use 'cards/card';
@use 'about/about';
@use 'about/about-row';
@use 'about/about-main';
@use 'place/places';
@use 'place/place-background';
@use 'place/tables';
@use 'footer/footer';
@use 'footer/main-footer';
@use 'licence/licence';

@media only screen and (max-width:1024px) and (min-width:769px){
      
    // landing page 
    .landing-page{
        width: 100%;
        @include navbar.lg();
        @include header.lg();
    }
    // end landing page

    // media 
    @include media.lg();
    // end media 
    
    // cards
    .cards{
        width: 100%;
        @include cards-header.lg();
        @include card.lg();
    }
    // end cards

    // about 
    .about {
        width: 90%;
        @include about-main.lg();
    }
    // end about 

    // place
    .place {
        width: 100%;
        @include tables.lg();
    }
    // end place

    // footer
    .footer{
        width: 95%;
        @include main-footer.lg();

    }
    // end footer


    // licence
    @include licence.lg();
    // end licence

    
}

@media only screen and (max-width:767px) and (min-width:618px){
      
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.md();
        @include header.md();
    }
    // end landing page

    // media 
    @include media.md();
    // end media 

    // cards
    .cards{
        width: 100%;
        @include cards-header.md();
        @include card.md();
    }
    // end cards

    // about 
    .about {
        width: 90%;
        height: auto;
        @include about-main.md();
    }
    // end about 

    // place
    .place {
        width: 100%;
        @include tables.md();
    }
    // end place

    // footer
    .footer{
        margin-top: 20px;
        width: 95%;
        @include main-footer.md();

    }
    // end footer

     // licence
     @include licence.md();
     // end licence
}

@media only screen and (max-width:619px)and (min-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.sm();
        @include header.sm();
    }
    // end landing page

    // media 
    @include media.sm();
    // end media 

    // cards
    .cards{
        width: 100%;
        @include cards-header.sm();
        @include card.sm();
    }
    // end cards

     // about 
     .about {
        width: 90%;
        height: auto;
        margin:150px auto;
        @include about-main.sm();
    }
    // end about 

    // place
    .place {
        height: auto;
        width: 100%;
        @include tables.sm();
    }
    // end place


    // footer
    .footer{
        // margin-top: 20px;
        margin: 0 auto;
        width: 95%;
        height: 95vh;
        @include main-footer.sm();

    }
    // end footer

     // licence
     @include licence.sm();
     // end licence
}

@media only screen and (max-width:425px){
    // landing page 
    .landing-page{
        width: 100%;
        height: auto;
        @include navbar.m();
        @include header.m();
    }
    // end landing page


    // media 
    @include media.m();
    // end media 


    // cards
    .cards{
        width: 100%;
        @include cards-header.m();
        @include card.m();
    }
    // end cards

     // about 
     .about {
        width: 90%;
        height: auto;
        margin:150px auto;
        @include about-main.m();
    }
    // end about 

    // place
    .place {
        width: 100%;
        height: auto;
        @include tables.m();
    }
    // end place

    // footer
    .footer{
        // margin-top: 20px;
        margin: 0 auto;
        width: 95%;
        height: 95vh;
        @include main-footer.m();

    }
    // end footer

     // licence
     @include licence.m();
     // end licence
}