@use 'font';
::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
}

$color : (
    'text-color' : #3d2514,
    'background' : #df1b1c,
    'white-color' : #fff
);

@include font.font();
$font : (
 'ASLO-Regular' : 'AlfaSlabOne-Regular',
 'BN-Regular'   : 'BebasNeue-Regular',
 'M-Regular'    : 'Montserrat-Regular'
);
