@use 'font';
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    overflow-x: none;
    background-color: white;
}


$color : (
    'text-color' : #3d2514,
    'background' : #df1b1c,
    'white-color' : #fff,
    'white-color2' : #eee
);

@include font.font();
$font : (
 'ASLO-Regular' : 'AlfaSlabOne-Regular',
 'BN-Regular'   : 'BebasNeue-Regular',
 'M-Regular'    : 'Montserrat-Regular'
);